body{
  background-image: url('https://zapier.cachefly.net/storage/photos/59adf30a11549c83f577efbb6d66650d.jpg');
}
.title {
  font-size: 14px;
}
.description{
  font-size: 14px;
}

.todolist-container{
  width: 400px;
  height: 800px;
  background-image: url('https://openclipart.org/image/2400px/svg_to_png/76195/note2.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.form{
  width: 300px;
  height: 25px;
  display:flex;
  margin: 10% auto;
}

.todo-lists{
  overflow:scroll;
  width: 350px;
  margin: 2px auto;
}

.title-container{
  display:flex;
}
