body{
  background-image: url('https://zapier.cachefly.net/storage/photos/59adf30a11549c83f577efbb6d66650d.jpg');
}
.title {
  font-size: 14px;
}
.description{
  font-size: 14px;
}

.todolist-container{
  width: 400px;
  height: 800px;
  background-color: blue;
  /* background-image: */
}
